@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import "tailwindcss";

@theme {
  --color-site-bg: #1a1a1a;
  --color-nav-bg: #2e2e2e;
}

@layer base {
  body {
    margin: 0;
    padding: 0;
    color: #ffffff;
    box-sizing: border-box;
    background-color: var(--color-site-bg);
    font-family: "Google Sans", Arial, sans-serif;
  }
}

@utility rounded-text-frame {
  @apply text-[1rem] border rounded-xl px-3 w-fit h-fit md:text-xl md:rounded-2xl;
}

@utility topic-blur {
  @apply text-xs font-mono text-white border border-white/20 bg-white/10 backdrop-blur-md px-2.5 py-1 rounded-full w-fit;
}

@layer components {
  

  /* Service Section */
  .services {
    @apply mt-15;
  }

  .services .hr {
    @apply h-px w-[90%] bg-white mx-auto opacity-8;
  }

  .services-header {
    @apply flex flex-col gap-3;
  }

  .services-header span {
    @apply text-xs font-semibold tracking-widest text-white uppercase rounded-text-frame;
  }

  .services-header h2 {
    @apply text-3xl md:text-4xl;
  }

  .services-header p {
    @apply text-sm md:text-base mt-2;
  }

  .service-card {
    @apply flex items-start gap-10 p-8 md:px-12 md:py-12 lg:px-20 lg:py-8;
  }

  .service-icon {
    @apply w-full h-auto max-w-12 mt-3;
  }

  .service-card h3 {
    @apply text-xl uppercase md:text-2xl mt-2;
  }

  .service-card p {
    @apply text-xs md:text-sm mt-2 w-[80%] lg:w-[90%];
  }

  .navigation-icon {
    @apply rotate-45 shrink-0;
  }
}
